body {
  background: #8f00ff;
  font-family: "Inconsolata", sans-serif; }

header {
  font-weight: bold;
  margin-bottom: 5px; }
  header .navegador {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #b9b9b9;
    padding: 25px; }
  header .contenedor1 {
    display: flex;
    justify-content: space-between; }
    header .contenedor1 h1 {
      font-size: 8px;
      line-height: 18px;
      font-family: "abstract";
      background-color: #f1fff8;
      border: solid 1px #000000;
      padding: 5px;
      width: 100px;
      height: 70px;
      text-decoration: none;
      margin: 0; }
    header .contenedor1 a {
      margin-left: 50px;
      align-self: flex-end;
      text-decoration: none;
      font-size: 25px;
      color: #333; }
    header .contenedor1 a:hover {
      font-size: 30px;
      color: #ffffff;
      transition: 0.3s; }
  header .contenedor2 {
    align-self: flex-end; }
    header .contenedor2 a {
      text-decoration: none;
      color: #333;
      font-size: 20px;
      margin-right: 10px; }
    header .contenedor2 a:hover {
      color: #ffffff;
      transition: 0.2s; }

main {
  display: grid;
  grid-template-columns: 2.6fr 0.4fr;
  grid-template-rows: 0fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "TITULO TITULO DERECHA" "IMAGEN IMAGEN DERECHA"; }
  main .title {
    grid-area: TITULO;
    background-color: #f155ff; }
    main .title h2 {
      font-size: 50px;
      padding: 25px; }
  main .principal {
    grid-area: IMAGEN;
    background-color: red;
    padding: 16px; }
    main .principal .carousel img {
      width: 600px; }
    main .principal p {
      font-size: 20px; }
    main .principal .imagenes img {
      width: 300px;
      height: 300px;
      margin: 5px; }
    main .principal .carousel img {
      height: 600px; }
  main .secundario {
    grid-area: IMAGEN;
    background-color: red; }
    main .secundario .separador1 {
      display: flex;
      align-items: center; }
      main .secundario .separador1 h2 {
        font-size: 30px;
        background-color: #8f00ff;
        padding: 25px; }
      main .secundario .separador1 img {
        width: 90px;
        animation-name: rotacion;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-duration: 8s; }

@keyframes rotacion {
  0% {
    rotate: 0deg; }
  100% {
    rotate: 360deg; } }
    main .secundario .separador2 {
      display: flex;
      align-items: center; }
      main .secundario .separador2 h2 {
        font-size: 30px;
        background-color: #8f00ff;
        padding: 25px; }
      main .secundario .separador2 img {
        width: 200px; }
    main .secundario p {
      font-size: 20px; }
    main .secundario .mercado {
      display: flex;
      padding: 15px;
      flex-wrap: wrap;
      margin: 15px;
      justify-content: center; }
      main .secundario .mercado .TIENDA {
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        justify-content: center;
        width: 80%; }
        main .secundario .mercado .TIENDA .card {
          padding: 15px;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          margin: 15px;
          position: relative;
          opacity: 0.95;
          transition: opacity 0.2s ease-in-out;
          flex-basis: 24%; }
          main .secundario .mercado .TIENDA .card h5 {
            font-weight: bold; }
          main .secundario .mercado .TIENDA .card .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end; }
        main .secundario .mercado .TIENDA .card:hover {
          opacity: 1; }
  main .der {
    grid-area: DERECHA;
    background-color: aquamarine;
    padding: 10px; }
    main .der h4 {
      font-size: 25px; }
    main .der .publi {
      margin: 2px;
      text-align: justify; }
      main .der .publi .card {
        margin-bottom: 20px; }
        main .der .publi .card img {
          padding: 10px; }

footer {
  background-color: #b9b9b9;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: start;
  padding: 10px;
  margin-top: 5px;
  height: 50px; }
  footer a {
    text-decoration: none;
    color: #333; }
  footer a:hover {
    font-size: 17px;
    transition: 0.3s; }
  footer p {
    color: #333;
    margin-right: 20px; }
