// Fuentes
//
$fuente-titulo: "abstract";
$fuente-letras: "Inconsolata", sans-serif;

// Colores
//
$color-fondo1: #ffffff;
$color-texto: #333;
$color-titulos: #ffffff;
$color1_navy: #2d2c2c;
$color3_gris: #8b8b8d;
$color4_fred: #fe1a27;
$color_main: #5d5c5c;

// Estilos
//
@import "header";
@import "body";
@import "main";
@import "footer";
