<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Ícono página -->
    <link rel="icon" type="image/x-icon" href="./css/img/icono.png" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
    <style>
      @font-face {
        font-family: "abstract";
        src: url("./ABSTRACT.TTF");
      }
    </style>
    <!-- Estilo Animate -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilo.css" />

    <title>fueraDelaCaja</title>
  </head>
  <body>
    <main>
      <div class="body_contacto">
        <div class="contacto">
          <h2>Contacto</h2>
          <div class="contacto2">
            <div class="contacto3">
              <a href="https://github.com/fedeluchelli"><img src="../css/img/redes/github.png" alt="" /></a>
              <h3>github.com/fedeluchelli</h3>
            </div>
            <div class="contacto3">
              <a href="mailto: luchellifederico@gmail.com"><img src="../css/img/redes/gmail.png" alt="" /></a>
              <h3>luchellifederico@gmail.com</h3>
            </div>

            <div class="contacto3">
              <a href="https://www.linkedin.com/in/fedeluchelli/"><img src="../css/img/redes/linkedin.png" alt="" /></a>
              <h3>linkedin.com/in/fedeluchelli</h3>
            </div>

            <div class="contacto3">
              <a href=""><img src="../css/img/redes/whatsapp.png" alt="" /></a>
              <h3>1549695778</h3>
            </div>
          </div>
        </div>
        <div class="divi"></div>
        <h2>comentarios</h2>
        <div class="contacto_mail">
                <form action="enviar_correo.php" method="post">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required>
                
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" required>
                
                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" name="mensaje" required rows="8"></textarea>
                
                    <button type="submit">Enviar mensaje</button>
                </form>
            
          </div>
        </div>
      </div>
    </main>
    <footer>
      <i>© Copyright</i>
      <a href="../index.html"><p>volver</p></a>
      <a href="mailto: luchellifederico@gmail.com">Email</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
